<form action=''


<form action='/views/scrabble_word_score' method='get'>
  <div class="form-group">
    <label for="scrabble_word">Enter your word here to get the Scrabble! score:</label>
    <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
  </div>
<button type="submit" class="button_margin btn btn-lg btn-danger">Go!</button>
</form>
