<!--Results page called by app.rb after information submitted on form.erb  -->
<p class="static_text"> You searched the sentence: </p>
<p class="result_text"> <%= @sentence_to_search %> </p>

<p class="static_text"> For the term: </p>
<p class="result_text"> <%= @search_term %> </p>

<p class="static_text"> It was found: </p>
<p class="result_text"> <%= @times_found %> times! </p>
